.DS_Store
.idea/
.gradle-local/
android/

android/.gradle/
android/**/build/

ios/build/
ios/**/DerivedData/
ios/**/xcuserdata/
ios/**/*.xcuserstate
ios/**/*.xcarchive
ios/**/*.ipa

pc_rust/node_modules/
pc_rust/dist/
pc_rust/target/
pc_rust/src-tauri/target/

*.log
